/* Reset completo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden; /* Remove scroll horizontal */
}

#app {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}